body{
		background-color: #2471A3;
		font-family: verdana, arial, sans-serif;
		margin-left: 20px;
	}
.question{
		background-color: #D0ECE7;
		border-radius: 5px;
		padding: 5px;
		margin: 10px;
	}
h1{
	color: white;
}

p{
	color: yellow;
}

#name{
	height:25px; 
	width: 50%;
}

input[type="reset"]{
	width: 150px;
	height:50px;
}

button
{
	width: 150px;
	height: 50px;
}
